
@font-face {
  font-family: 'Montserrat';
  src: url('/static/fonts/Montserrat-Regular.ttf.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/static/fonts/Montserrat-Bold.ttf.ttf');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/static/fonts/Montserrat-Light.ttf.ttf');
  font-weight: lighter;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/static/fonts/Montserrat-Italic.ttf.ttf');
  font-weight: normal;
  font-style: italic;
}
