
// --------- PORTFOLIO PAGE -------------

.portfolio-page {
  min-height: 100vh;
  padding: 150px 0 0;
  background-color: whitesmoke;

  .portfolio-card {
    background-image: linear-gradient(45deg, #1713ec 0%, #99acee 100%);
    border-radius: 5px;
    color: white;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1) 0s;
    margin-bottom: 50px;
    margin-right: 10px;

    &:hover {
      cursor: pointer;
      transform: translateY(-5px);
    }

    &-header {
      padding: 1px;
      padding-right: 7px;
      text-align: right;
      text-transform: uppercase;
      font-weight: 600;
      font-size: 17px;
    }

    &-title {
      font-size: 30px;
      font-weight: 700;
      line-height: 1.1;
      text-transform: uppercase;
      margin-bottom: 10px;
    }

    &-text {
      font-size: 16px;
      font-weight: 500;
      line-height: 1.3;
      text-transform: uppercase;
      margin-bottom: 50px;
    }
  }
}

.cardlink {
  color: white;
}

.cardlink:hover {
  color: white;
}

// --------- PORTFOLIO PAGE -------------
